{
  "type": "service_account",
  "project_id": "excel-automation-472502",
  "private_key_id": "<REDACTED>",
  "private_key": "<REDACTED - insert your private key here when creating local service_account.json>",
  "client_email": "sheet-integration@excel-automation-472502.iam.gserviceaccount.com",
  "client_id": "102442901378081491057",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/sheet-integration%40excel-automation-472502.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}
